<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>virtualAnimate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA79FA2E1CE1A60E00323F13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA79FA471CE1A60E00323F13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA79FA521CE1A60E00323F13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
